@import "variables";

:host {
    display: block;
    width: 100%;
    border-radius: 0.4rem;

    &.background {
        background: $background-2;
    }

    &.flex {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
    }
}
