.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 3.2rem;
    font-weight: 600;
}
